li.selected {
  background-color: #CFD8DC;
  color: white;
}

table tr * {
  text-align: right;
}

table tr.total * {
  font-weight: bold;
  border-top: solid;
}


table tr.total:last-child{
  background-color: green;
  color: white;
  border-radius: 3px;
}