<h1>Gross Income</h1>

<table>
  <tr>
    <th>Monthly salary</th>
    <td><input name="monthlyIncome" [(ngModel)]="monthlyIncome" type="number" placeholder="monthly income" /></td>
  </tr>
  <tr>
    <th>Bonus</th>
    <td><input name="bonus" [(ngModel)]="bonus" type="number" placeholder="bonus" /></td>
  </tr>
  <tr>
    <th>Thirteen salary</th>
    <td><input name="thirteen" type="checkbox" [(ngModel)]="thirteen" /></td>
  </tr>
  <tr class="total">
    <th>Gross Annual Income</th>
    <td>{{grossIncome()}} &euro;</td>
  </tr>
</table>

<app-deductions [annualIncome]="grossIncome()" [monthlyIncome]="monthlyIncome"></app-deductions>