<h1>Deductions</h1>

<table>
  <tr>
    <th>Employment Status</th>
    <td><label *ngFor="let item of employmentTypes" [class.selected]="item === selectedStatus" class="deductions"
        (click)="onSelect(item)">
        <span class="badge">{{item.status | titlecase}}</span>
      </label></td>
  </tr>
  <tr>
    <th>Provident fund</th>
    <td><input type="number" step="0.01" size="2" [(ngModel)]="providentFund" />&#37;</td>
  </tr>
</table>
<table>
  <tr>
    <th></th>
    <th>&#37;</th>
    <th>Monthly</th>
    <th>Annual</th>
  </tr>
  <tr>
    <th>Social Insurance</th>
    <th>{{selectedStatus.si.toFixed(2).commas()}}&#37;</th>
    <td>&euro;{{monthlySI().toFixed(2).commas()}}</td>
    <td>&euro;{{annualSI().toFixed(2).commas()}}</td>
  </tr>
  <tr>
    <th>GHS</th>
    <th>{{selectedStatus.ghs.toFixed(2).commas()}}&#37;</th>
    <td>&euro;{{monthlyGHS().toFixed(2).commas()}}</td>
    <td>&euro;{{annualGHS().toFixed(2).commas()}}</td>
  </tr>
  <tr>
    <th>Provident fund</th>
    <th>{{providentFund.toFixed(2).commas()}}&#37;</th>
    <td>&euro;{{monthlyPF().toFixed(2).commas()}}</td>
    <td>&euro;{{annualPF().toFixed(2).commas()}}</td>
  </tr>
  <tr class="total">
    <th>Total Deductions</th>
    <th>{{totalDeductions().toFixed(2).commas()}}&#37;</th>
    <td>&euro;{{monthlyDeductions().toFixed(2).commas()}}</td>
    <td>&euro;{{annualDeductions().toFixed(2).commas()}}</td>
  </tr>
  <tr class="total"  *ngIf="tax > 0">
    <th>Tax Deductions</th>
    <th>{{monthlyTaxP().toFixed(2).commas()}}&#37;</th>
    <td>&euro;{{monthlyTax().toFixed(2).commas()}}</td>
    <td>&euro;{{annualTax().toFixed(2).commas()}}</td>
  </tr>
  <tr class="total">
    <th colspan="2">Net Income</th>
    <td>&euro;{{netMonthlyIncome().toFixed(2).commas()}}</td>
    <td>&euro;{{netAnnualIncome().toFixed(2).commas()}}</td>
  </tr>
</table>
<app-tax [annualIncome]="annualIncome" [totalDeductions]="totalDeductions()" (tax)="getTax($event)"></app-tax>
<app-expenses [netAnnualIncome]="netAnnualIncome()" [netMonthlyIncome]="netMonthlyIncome()"></app-expenses>