.deductions  {
  cursor: pointer;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  margin: .1em;
  padding: .2em 0;
  border-radius: 10px;
}
.deductions:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.deductions.selected {
  background-color: #0295d4;
  color: white;
}
.deductions.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

table tr * {
  text-align: right;
}

table tr.total * {
  font-weight: bold;
  border-top: solid;
}