body{
  font-family: 'Playfair Display', serif;
}

h1.title{
  position: fixed; left: 50%; transform: translate(-50%, -50%);
}

tr.total{
  text-align: right;
}

tr.total label{
  font-weight: bold;
}